$primary-color: #84a98c;
$secondary-color:  #754ABD;
$tertiary-color: #cad2c5;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.listItem {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  list-style-type: none;
}

nav{
  display: flex;
  height: 112px;
  border-bottom: 3px solid $primary-color;
}

#steady-nav-items .listItem{
  padding: 0 20px;
  &:hover{
    color: $secondary-color;
  }
}

#signed-in-nav-items li {
  padding: 0 20px;

  li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
  }
}


nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  text-decoration: none;
  list-style-type: none;
}

.avatar-small {
  width: 45px;
  height: auto;
  border-radius: 50%;
}

#sign-out{
  border: none;
  outline: none;
  font-size: 16px;

  &:hover{
    color: $secondary-color;
  }
}

#main-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
#sign-in-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $tertiary-color;
  border-radius: 10px;
  margin: 50px;
}
.sign-in-alert{
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: 40px;
}
.welcome{
  background-color: $tertiary-color;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  align-items: center;
  width:100%;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;

  #main-logo{
    width: 150px;
    height: auto;
  }

  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
  select {
    width: 90%;
    height: 30px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;

  }
  button{
    display:block;
    background-color: $primary-color;
    margin-top: 0px;
    color: white;
    border: none;
    width: 90%;
    height: 35px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    &:hover{
    background-color: $secondary-color;
    }
  }
  input {
    width: 90%;
    height: 30px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
  }
}

#new-question-container {
  display: flex;
  flex-direction: column;
  border: 2px solid $tertiary-color;
  border-radius: 10px;
  margin: 50px;
  width: 400px;

  .form-container{
    align-items: flex-start;

    p {
      margin: 5px 17.5px;
    }
    h4 {
      margin: 15px 0px 0 17.5px;
    }
    h5{
      align-self: center;
    }
    input[type="text"] {
      cursor: text;
    }
  }
}

.usercard {
  display: flex;
  border: 2px solid #cad2c5;
  padding: 25px;
  margin: 35px 0;
  border-radius: 10px;
  .avatar-container{
    padding: 0 25px 0 0;
    display: flex;
    justify-content: center;
    align-items:center;
    .avatar-big{
      width: 100px;
      height: auto;
      border-radius: 50%;
    }
  }
  .description-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 0 20px;
    border-left: 2px solid #cad2c5;
    border-right: 2px solid #cad2c5;
    
    h2{
      margin-bottom: 15px
    }
    p{
      font-size: smaller;
      font-weight: 700;
      margin: 10px 0;
    }
    .right-span-score{
      float: right;
    }
  }
  .score-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 0 25px;
    border: 1px solid #cad2c5;

    #score-text-container{
      background: #cad2c5;
      padding: 8px 27.5px;
    }
    #score-num-outer-container{
      display: flex;
      justify-content: center;
      align-items: center;
      width:100%;
      height: 100%;
      #score-sum-container{
        display: flex;
        background-color: #84a98c;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    
  }
}

